//1890ff
// rgb(24, 144, 255, 0.4)

//ea5413
// f7b72e
// rgba(247, 209, 149, 0.7)

$--color-primary-one: #ED6C00;//#ff996d #
$--color-primary-one-hover: rgba(237, 108, 0,.5);//#ff996d #

$--color-primary-three: #feaa36;

$--color-primary-two: #feaa36;//1890ff f3b24a
$--color-primary-two-hover: rgba(247, 209, 149, 0.7);//rgb(24, 144, 255, 0.4) rgba(247, 209, 149, 0.9)

$--color-primary-danger: #fd7356;
$--color-primary-danger-hover: rgba(253, 115, 86,.5);;

$--color-primary-ing: #ff996d;

$--color-primary-success: #4caf50;
$--color-primary-success-hover: #b5dcb5;
