//1890ff
// rgb(24, 144, 255, 0.4)

//ea5413
// f7b72e
// rgba(247, 209, 149, 0.7)

$--color-primary-one: #ea5413;//#ff996d #

$--color-primary-three: #f7b72e;

$--color-primary-two: #f7b72e;//1890ff f3b24a
$--color-primary-two-hover: rgba(247, 209, 149, 0.7);//rgb(24, 144, 255, 0.4) rgba(247, 209, 149, 0.9)

$--color-primary-danger: #f56C6C;
$--color-primary-danger-hover: rgb(212, 96, 96);

$--color-primary-ing: #ff996d;

$--color-primary-success: rgb(104, 170, 104);
$--color-primary-success-hover: #b5dcb5;
