
<div class="error-container">
    <div class="error_text">
        <p>哟呵，似乎来到外星球</p>
        <h2>莫慌<span>NOT PANIC</span> </h2>
        <h3>系统维护升级中</h3>
        <p class="p_2">如有疑问，请咨询</p>
        <p> <a href="jascript:;"> 400-887-0201 </a></p>
    </div>
    <img src="<%= require('./../../images/carepay/404.png') %>" alt="404">
</div>